@page {
  size: A4 portrait;
  margin: 0.5in 1in;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  font-family: "Ropa Sans", sans-serif;
  line-height: 1.4;
  word-wrap: break-word;
}

@media print {
  html {
    font-size: 11pt;
  }
}

body {
  color: rgba(0, 0, 0, 0.6);
  background-color: #fafafa;
}

@media print {
  body {
    background-color: transparent;
  }
}

strong {
  font-weight: normal;
  color: rgba(0, 0, 0, 0.8);
}

a[href] {
  color: #1976d2;
}

@media screen {
  a[href], abbr[title] {
    text-decoration: none;
    background-repeat: repeat-x;
    background-position: 0 85%;
    background-size: 1px 2px;
  }

  a[href] {
    background-image: linear-gradient(to bottom, transparent 50%, rgba(25, 118, 210, 0.4) 50%);
  }

  abbr[title] {
    background-image: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.4) 50%);
  }
}

@media screen and (min-resolution: 2dppx) {
  a[href], abbr[title] {
    background-size: 1px 1px;
  }
}

@media print {
  abbr[title] {
    text-decoration: none;
  }
}

h1, h2, h3 {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
}

h3 {
  margin: 0;
  margin-top: 1.6rem;
  font-size: 1.5em;
}

.meta {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
}

@media print {
  .meta {
    font-size: 9pt;
  }
}

p {
  margin: 0;
  margin-top: 0.8em;
}

p + p {
  margin-top: 0.2em;
}

ul, dl {
  margin: 0;
  margin-top: 0.8em;
}

ul {
  padding-left: 2.4em;
  list-style: none;
}

ul li {
  position: relative;
  margin-top: 0.2em;
}

ul li::before {
  content: "";
  position: absolute;
  top: 0.7em;
  left: -1.2em;
  width: 4px;
  height: 4px;
  margin: -2px;
  border: 2px solid rgba(0, 0, 0, 0.4);
}

ul.inline {
  display: inline;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.inline li {
  display: inline;
}

ul.inline li:before {
  content: none;
}

ul.inline li:not(:last-child):after {
  content: " · ";
  color: rgba(0, 0, 0, 0.3);
}

dl {
  overflow: hidden;
  margin-top: 0.8em;
  padding-left: 8em;
}

dl dt {
  float: left;
  clear: left;
  width: 8em;
  margin-left: -8em;
  margin-top: 0.2em;
  color: #000;
}

dl dd {
  float: left;
  width: 100%;
  margin-left: 0;
  margin-top: 0.2em;
}

dl dt:first-child,
dl dt:first-child + dd {
  margin-top: 0;
}

.page {
  max-width: 640px;
  margin: 0 auto;
}

header {
  margin: 6.4em 0;
  text-align: center;
}

header h1 {
  margin: 0;
  color: #000;
}

header h1 img {
  display: inline-block;
  height: 6rem;
  vertical-align: middle;
}

header p {
  margin: 0;
  color: #616161;
}

section {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin: 3.2em 0;
  border-radius: 2px;
  background-color: #fff;
  box-shadow:
    0 0 1px rgba(0, 0, 0, 0.2),
    0 1px 2px rgba(0, 0, 0, 0.2);
}

@media print {
  section {
    background-color: transparent;
    box-shadow: none;
    page-break-inside: avoid;
  }
}

section h2 {
  display: table-cell;
  width: 200px;
  margin: 0;
  padding: 3.2rem 0;
  text-align: center;
  vertical-align: top;
  color: #fff;
  background-color: #4caf50;
}

@media print {
  section h2 {
    padding: 1.2rem 0 !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.8);
    background-color: transparent;
  }
}

section .content {
  position: relative;
  display: table-cell;
  padding: 3.2em;
}

section .content > :first-child {
  margin-top: 0;
}

section .content hr {
  position: relative;
  margin: 3.2em -3.2em;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

footer {
  margin: 3.2em 0;
  text-align: center;
}

@media print {
  footer {
    display: none;
  }
}

footer p {
  margin: 0;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.4);
}

@media print {
  footer p {
    font-size: 10pt;
  }
}

@media print, (max-width: 640px) {
  header {
    margin: 4.8em 0;
  }

  section {
    display: block;
    margin: 2.4em 0;
    border-radius: 0;
  }

  section h2 {
    display: block;
    width: auto;
    padding: 2.4rem 0;
  }

  section .content {
    display: block;
    padding: 2.4em;
  }

  section .content hr {
    margin: 2.4em -2.4em;
  }

  footer {
    margin: 2.4em 0;
  }
}
